<%- include('../layout/header.ejs') %>
    <%- include('../layout/aside.ejs') %>
        <div class="content-wrapper" style="min-height: 946px;">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Text Editors
                    <small>Advanced form element</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Forms</a></li>
                    <li class="active">Editors</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">

                    <div class="col-md-12">
                        <div class="box box-warning">
                            <div class="box-header with-border">
                                <h3 class="box-title">images products</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                            class="fa fa-minus"></i>
                                    </button>
                                </div>

                            </div>

                            <div class="box-body"
                                style=" display: flex; margin: 0; padding: 0; flex-wrap: wrap; justify-content: center;   ">

                                <input type="text" id="cachCuChuoi" value="<%= productData.IDProduct%>"
                                    style="display: none;">


                                <% image.forEach((element, index)=> { %>
                                    <div class="card" style="width: 32rem; border: 1px solid #000; margin: 10px;">
                                        <label for="exampleInputImage" style="width: 100%;">
                                            <img src="<%= element.UrlImages ? element.UrlImages : '' %>"
                                                style="width: 100%; height: 400px;" class="card-img-top-1" alt="...">
                                        </label>
                                        <input type="file" style="display: none;" id="exampleInputImage">
                                        <div class="card-body">
                                            <button id="btn-delete-image">delete</button>
                                        </div>
                                    </div>
                                    <% }); %>






                                        <div class="card" style="width: 32rem;  border: 1px solid #000; margin: 10px;">
                                            <img src="/congkhai/img_products/them%20anh.jpg"
                                                style="width: 100%; height: 400px;" class="card-img-top-2" alt="...">

                                            <div class="card-body" style="display: flex;">

                                                <input type="file" style="display: none;" id="file-upload">

                                                <label id="file-upload-label" for="file-upload" style="border: 1px solid #ccc; display: inline-block; padding: 6px 12px;
                                                cursor: pointer; background-color: #f8f9fa; 
                                                color: #495057; border-radius: 4px; 
                                                font-size: 16px; justify-content: center; align-items: center;">
                                                    <i class="fa fa-cloud-upload"></i> Upload image
                                                </label>
                                                <button id="btn-update-image" style="width: 140px;"> update image
                                                </button>
                                            </div>
                                        </div>

                            </div>

                        </div>

                    </div>


                    <div class="col-md-12">
                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title">ProductDescription</h3>
                                <!-- tools box -->
                                <div class="pull-right box-tools">
                                    <button type="button" class="btn btn-info btn-sm" data-widget="collapse"
                                        data-toggle="tooltip" title="Collapse">
                                        <i class="fa fa-minus"></i></button>

                                </div>
                                <!-- /. tools -->
                            </div>
                            <!-- /.box-header -->


                            <!-- description -->
                            <div class="box-body pad">
                                <form>
                                    <textarea class="noi-dung-summernote-editer" name="editor1" rows="10" cols="80"
                                        style="visibility: hidden; display: none;">
                                        <%= productData.ProductDescription %>
                                    </textarea>
                                </form>
                            </div>


                        </div>
                        <!-- /.box -->

                        <form
                            action="https://thoitrangdarkt-com.onrender.com/api/v1/update-product/<%= productData.id%>"
                            method="post" enctype="multipart/form-data">


                            <!-- image old -->
                            <input type="text" hidden value="<%= productData.image%>" name="image_old">


                            <!-- name -->
                            <div class="form-group">
                                <label for="exampleInputPassword1">ProductName</label>
                                <input name="name" type="text" class="form-control" id="exampleInputname1"
                                    value="<%= productData.ProductName %>">
                            </div>

                            <!-- price -->
                            <div class="form-group">
                                <label for="exampleInputPassword1">Price</label>
                                <input name="price" type="text" class="form-control" id="priceInput"
                                    value="<%= productData.Price %>">
                            </div>

                            <!-- sale_price -->
                            <div class="form-group">
                                <label for="exampleInputPassword1">Sale</label>
                                <input name="sale_price" type="text" class="form-control" id="salePriceInput"
                                    value="<%= productData.Sale %>">
                            </div>

                            <!-- category -->
                            <div class="form-group">
                                <label for="exampleInputPassword1">product type</label>
                                <select name="category" id="categorySelect" class="form-control">
                                    <option>chọn danh mục</option>
                                    <% categoryData.map((item)=> { %>
                                        <option value="<%= item.IDProductType %>"
                                            <%=item.IDProductType===productData.IDProductType ? 'selected' : '' %>>
                                            <%= item.ProductTypeName%>

                                        </option>
                                        <% }) %>
                                </select>
                            </div>


                            <!-- supplier -->
                            <div class="form-group">
                                <label for="exampleInputPassword1">Supplier</label>
                                <select name="category" id="supplierSelect" class="form-control">
                                    <option>chọn nhà cung cấp</option>
                                    <% supplierData.map((item)=> { %>
                                        <option value="<%= item.IDSupplier %>"
                                            <%=item.IDSupplier===productData.IDSupplier ? 'selected' : '' %>>
                                            <%= item.SupplierName %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>


                            <!-- radio -->
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="status" id="exampleRadios1" value="1"
                                    <%=productData.Status===1 ? 'checked' : '' %>>
                                <label class="form-check-label" for="exampleRadios1">
                                    hiển thị
                                </label>
                            </div>

                            <div class="form-check" style="margin-bottom: 30px;">
                                <input class="form-check-input" type="radio" name="status" id="exampleRadios2" value="0"
                                    <%=productData.Status===0 ? 'checked' : '' %>>
                                <label class="form-check-label" for="exampleRadios2">
                                    tạm ẩn
                                </label>
                            </div>




                            <!-- button submit -->
                            <button type="submit" class="btn btn-primary btnSubmit">
                                <i class="fa fa-save"></i>
                                Submit
                            </button>

                            <a href="/admin/v1/product" class="btn btn-default"><i
                                    class="fa fa-arrow-left"></i> Trở lại</a>

                        </form>
                    </div>

                    <!-- /.col-->
                </div>
                <!-- ./row -->
            </section>
            <!-- /.content -->
        </div>
        <%- include('../layout/footer.ejs')%>

            <script>



                // Bắt sự kiện click vào nút "delete" trên từng ảnh
                document.querySelectorAll("#btn-delete-image").forEach(button => {
                    button.addEventListener("click", async event => {
                        const result = confirm("chắc chẵn xóa")
                        const card = event.target.closest('.card');
                        const imageUrl = card.querySelector('img').src;
                        const publicId = imageUrl.match(/\/v\d+\/(.*?)\./)[1];
                        const productId = document.querySelector("#cachCuChuoi").value.trim();
                
                        
                        if(result){
                            try {
                                const response = await fetch('/admin/v1/cloudinary-upload', {
                                    method: 'DELETE',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({ publicId, productId , imageUrl })
                                });
                                if (response.ok ) {                                  
                                    alert("Ảnh đã được xóa thành công!");
                                    location.reload(`/admin/v1/product/edit/${productId}`)
                                } else {
                                    // Xóa không thành công, xử lý lỗi nếu cần
                                    const errorMessage = await response.text();
                                    console.error('Failed to delete image:', errorMessage);
                                    alert("Đã có lỗi xảy ra khi xóa ảnh.");
                                }
                            } catch (error) {
                                console.error('Error during fetch:', error);
                                alert("Đã có lỗi xảy ra khi xóa ảnh.");
                            }
                        }else{

                            console.log("no")
                        }
                    });
                });




                document.querySelector("#btn-update-image").addEventListener("click", async e => {
                    const fileInput = document.querySelector("#file-upload");
                    const file = fileInput.files[0];

                    if (!file) {
                        alert("Không được để trống");
                        return;
                    }

                    // Kiểm tra loại tệp
                    if (!file.type.startsWith('image')) {
                        alert('Chỉ chấp nhận các tệp hình ảnh.');
                        return;
                    }

                    // Kiểm tra kích thước tệp (vd: tối đa 5MB)
                    const maxSizeInBytes = 5 * 1024 * 1024; // 5MB
                    if (file.size > maxSizeInBytes) {
                        alert('Kích thước tệp quá lớn. Vui lòng chọn một tệp nhỏ hơn.');
                        return;
                    }

                    const id = document.querySelector("#cachCuChuoi").value.trim();
                    const formData = new FormData();
                    formData.append("image", file);
                    formData.append("id", id);

                    try {
                        // Tiếp tục với quá trình tải lên nếu tất cả các kiểm tra đều đã được vượt qua
                        const response = await fetch(`/admin/v1/cloudinary-upload`, {
                            method: 'POST',
                            body: formData,
                        });

                        if (response.ok) {
                            const responseData = await response.json();
                            alert(responseData.message);
                            location.reload(`/admin/v1/product/edit/${id}`)
                        } else {
                            const errorMessage = await response.text();
                            alert(errorMessage);
                            console.error('Failed to upload file:', response.statusText);
                        }
                    } catch (error) {
                        console.error('Error during fetch:', error);
                    }
                });



                // show image on wrap
                document.getElementById('file-upload').addEventListener("change", async (e) => {
                    const selectedFile = event.target.files[0];
                    const reader = new FileReader();
                    reader.onload = function (event) {
                        const imageUrl = event.target.result;
                        document.querySelector(".card-img-top-2").src = imageUrl
                    };

                    reader.readAsDataURL(selectedFile);
                    console.log(selectedFile);
                });





                // function 
                const postRequired = async (requestBody) => {
                    try {
                        const response = await fetch(`/admin/v1/product/edit/${document.querySelector("#cachCuChuoi").value.trim()}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(requestBody),
                        });

                        // Check if the request was successful (status code 2xx)
                        if (response.ok) {
                            const responseData = await response.json();
                            alert(responseData.message);
                            window.location.href = `/admin/v1/product/edit/${document.querySelector("#cachCuChuoi").value.trim()}`;
                        } else if (response.status === 404) {
                            const responseData = await response.json();
                            alert(responseData.message);
                        } else if (response.status === 400) {
                            const responseData = await response.json();
                            alert(responseData.message);
                        } else if (response.status == 500) {
                            const responseData = await response.json();
                            alert(responseData.message);
                        }
                        else {
                            console.error('Failed to create user:', response.statusText);
                        }
                    } catch (error) {
                        console.error('Error during fetch:', error);
                    }
                }

                // check empty
                const checkEmpty = () => {
                    let name = document.querySelector("#exampleInputname1");
                    const price = document.querySelector("#priceInput");
                    const sale_price = document.querySelector("#salePriceInput");
                    const radio1 = document.querySelector("#exampleRadios1");
                    const radio2 = document.querySelector("#exampleRadios2");
                    const categorySelect = document.querySelector("#categorySelect");
                    const supplierSelect = document.querySelector("#supplierSelect");

                    // Lấy dữ liệu từ SummerNote Editor
                    const description = document.querySelector(".noi-dung-summernote-editer").value;
                    console.log(description)

                    if (name.value == "" || radio1.checked == false && radio2.checked == false
                        || sale_price.value == "" || price.value == "" || categorySelect.value == "chọn danh mục"
                        || supplierSelect.value == "chọn nhà cung cấp" || description.value === "") {
                        return false;
                    }
                    return true;
                }


                // btn click submit
                let btn_submit = document.querySelector(".btnSubmit");
                btn_submit.addEventListener("click", async (e) => {
                    e.preventDefault();
                    if (checkEmpty() == false) {
                        alert("Không để trống thông tin");
                    } else {

                        let name = document.querySelector("#exampleInputname1");
                        const price = document.querySelector("#priceInput");
                        const sale_price = document.querySelector("#salePriceInput");
                        const radio1 = document.querySelector("#exampleRadios1");
                        const radio2 = document.querySelector("#exampleRadios2");
                        const categorySelect = document.querySelector("#categorySelect");
                        const supplierSelect = document.querySelector("#supplierSelect");
                        const description = document.querySelector(".noi-dung-summernote-editer");
                        const productId = document.querySelector("#cachCuChuoi").value.trim()


                        const exampleData = {
                            ProductDescription: description.value,
                            ProductName: name.value,
                            Price: price.value,
                            sale: sale_price.value,
                            productType: categorySelect.value,
                            Supplier: supplierSelect.value,
                            radio: radio1.checked == true ? 1 : 0,
                            productId: productId
                        };

                        await postRequired(exampleData);

                        document.querySelector("#exampleRadios1").checked = true
                        document.querySelector("#exampleRadios2").checked = false
                    }
                });


                function showImage(image) {
                    var file = image.files[0];
                    console.log(file.name)
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        document.getElementById('pro-img').src = e.target.result;
                    }
                    reader.readAsDataURL(file);
                }

            </script>